 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
 @import "tailwindcss";

 #root {
     height: 100vh;
     min-height: 800px;
     font-family: "Nunito", sans-serif;
     overflow: auto;

 }

 body {
     background-image: url("assets/img/bg-mtn-reduced.jpeg");
     background-size: cover;
     background-attachment: fixed;
     overflow: hidden;
     background-color: #99B9D2;
 }

 #logo {
     font-family: "Allura";
 }

 @media (max-width: 768px) {
     #root {
         padding-bottom: 5rem;
     }
 }