 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
 @import "tailwindcss";

 #root {
     height: 100vh;
     font-family: "Nunito", sans-serif;
 }

 body {
     background-image: url("assets/img/bg-mtn-reduced.jpeg");
     background-size: cover;
     background-attachment: fixed;
     overflow-y: scroll;
     background-color: #99B9D2;
 }

 #logo {
     font-family: "Allura";
 }